{
    "presets": [
        "es2015"
    ],
    "sourceMaps": true,
    "retainLines": true,
    "plugins": [
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ]
    ]
}